@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jost:wght@500&family=Montserrat:wght@300;400;500;600;700;800&family=Mulish:wght@300&family=Nunito+Sans:wght@200&family=Open+Sans:wght@400;500&family=Poppins:wght@300;500;600&family=Roboto:wght@300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&family=Jost:wght@500&family=Montserrat:wght@300;400;500;600;700;800&family=Mulish:wght@300&family=Nunito+Sans:wght@200&family=Open+Sans:wght@400;500&family=Poppins:wght@300;600&family=Roboto:wght@300;700&display=swap');
#Action {
  margin-top: 0px;
  margin-bottom: 65px;
}

.Action_bg {
    background:linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../Images/cta-bg.jpg) fixed center center;
   height: auto;
   width: 100%;
    background-size: cover;
    padding: 120px 0;
}
// .Action_bg:before {
//   content: "";
//   position: absolute;
//   background-color: rgb(23, 130, 201);
//   top: 0;
//   left: 0;
//   color: white;
// }

#Action {
  .ActionContent {
    h3 {
    
      color: white;
    font-size: 28px;
    font-weight: 700;
    font-family: "Jost", sans-serif;
    }
    p {
        color: white;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        margin-top: 8px;
        line-height: 28px;
    }
  }
  .ActionBtn{
    text-decoration: none;
    background-color: inherit;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    border: 2px solid white;
    padding: 13px 38px;
    border-radius: 50px;
    font-family: "Jost", sans-serif;
    transition: 0.5s;
    margin: 10px;
   
    &:hover{
        background-color: #47b2e4;
        color: white;
        border: none;
    }
  }
}
