@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jost:wght@500&family=Montserrat:wght@300;400;500;600;700;800&family=Mulish:wght@300&family=Nunito+Sans:wght@200&family=Open+Sans&family=Poppins:wght@300;500;600;700&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Jost:wght@500&family=Montserrat:wght@300;400;500;600;700;800&family=Mulish:wght@300&family=Nunito+Sans:wght@200&family=Open+Sans:wght@400;500&family=Poppins:wght@300;500;600;700&family=Roboto:wght@300;700&display=swap");

#Navbar {
  background-color: #37517e;
  width: 100%;
  height: auto;
  padding: 8px 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  overflow: hidden;
  left: 0;
  background-attachment: scroll;
  z-index: 9;
}

#Navbar {
  .Brand {
    font-size: 32px;
    color: white;
    margin: 0px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
  }

  .navbar {
    float: right;
    margin: 0px;
    padding: 0px;
    .nav_items {
      margin: 0px;
      padding-left: 10px;
      li {
        list-style: none;
        display: inline-block;
        margin: 18px 18px;
        a {
          text-decoration: none;
          font-size: 15px;
          color: white;
          font-weight: 500;
          font-family: "Open Sans", sans-serif;
          &:hover {
            color: #209dd8;
          }
        }
        .getStartedBtn {
          border: 2px solid #47b2e4;
          padding: 10px 21px;
          border-radius: 25px;
          &:hover {
            background-color: #47b2e4;
            color: white;
          }
        }
      }
      .active_class {
        color: #209dd8;
      }
    }
    .dropdown:hover .dropdown-menu {
      display: block;
    }
    .dropdown-menu {
      display: none;
      background-color: white;
      position: fixed;
      z-index: 99;
      top: 52px;
      border: none;
      padding-top: 10px;
      padding-bottom: 12px;
      padding-right: 22px;

      li {
        list-style: none;
        display: block;
        margin: 0px;
        .dropdown-item {
          padding: 9px 26px;
          font-size: 15px;
          text-transform: none;
          font-weight: 500;
          color: #0c3c53;
        }
        .dropdown-item:hover{
          background-color: white;
        }
        .subdropdownLink:focus-within .subdropdown {
          display: block;
        }
        .subdropdownLink:hover .subdropdown {
          display: block;
        }
        .subdropdown {
          display:none;
          position: absolute;
          left: 173px;
          top: 115px;
          padding: 20px 22px;
          margin: 0px;
          background-color: white;
          border-radius: 5px;
          &:active{
            display: block;
          }
          li {
            list-style: none;
            display: block;
            padding: 0px;
            padding-bottom: 15px;
            a {
              text-decoration: none;
              padding: 10px 30px;
              font-size: 15px;
              padding-left: 7px;
              font-weight: 500;
              color: #1d4a5f;
            }
          }
        }
      }
    }
  }
}
